@import '../../utilities/_variables.scss';

.home{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  'banner'
  'summary'
  'main';
  grid-template-rows: calc(100vh - 50px) repeat(2, minmax(200px, auto));

  .banner{
    grid-area: banner;
    background-image: url(https://s3.us-east-2.amazonaws.com/nickdarash/LAB.fe0615df.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    .cover{
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $transparent;
      z-index: 0;
    }

    .title{
      position: absolute;
      color: $primary-text;
      z-index: 1;
      font-size: 3em;
      left: 5%;
      top: 45%;
      font-style: italic;
    }

    .subTitle{
      position: absolute;
      color: white;
      z-index: 1;
      font-size: 2em;
      left: 20%;
      top: 55%;
      font-style: italic;
    }
  }

  .summary{
    position: relative;
    grid-area: summary;
    background: white;
    color: black;
    
    h1{
      margin: 5%;
      color: $primary-text;
    }

    p{
      margin: 0 10%;
    }

    .divider{
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 80%;
      margin-left: 10%;
      background-color: lightgray;
    }
  }

  .main{
    position: relative;
    grid-area: main;
    background: transparent;

    p{
      margin: 5%;
    }
  }
}