@import '../../utilities/variables';

.footer{
  position: relative;
  width: 100%;
  height: 500px;
  background: $background-color;

  i{
    position: absolute;
    color: white;
    font-size: 2.5em;
  }

  .github{
    left: 0%;
  }

  .twitter{
    left: 10%;
  }

  .linkedin{
    left: 20%;
  }
}