@import "./utilities/_variables.scss";

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    background: url("https://s3.us-east-2.amazonaws.com/nickdarash/LAB.fe0615df.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#root{
    height: 100%;
    width: 100%;
}

.root{
    height: 100%;
    width: 100%;
}